//
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .bg-orange-100 {
        background-color: #fffaf0;
    }
    .bg-orange-200 {
        background-color: #feebc8;
    }
    .bg-orange-300 {
        background-color: #fbd38d;
    }
    .bg-orange-400 {
        background-color: #f6ad55;
    }
    .bg-orange-500 {
        background-color: #ed8936;
    }
    .bg-orange-600 {
        background-color: #dd6b20;
    }
    .bg-orange-700 {
        background-color: #c05621;
    }
    .bg-orange-800 {
        background-color: #9c4221;
    }
    .bg-orange-900 {
        background-color: #7b341e;
    }
    .text-orange-100 {
        color: #fffaf0;
    }
    .text-orange-200 {
        color: #feebc8;
    }
    .text-orange-300 {
        color: #fbd38d;
    }
    .text-orange-400 {
        color: #f6ad55;
    }
    .text-orange-500 {
        color: #ed8936;
    }
    .text-orange-600 {
        color: #dd6b20;
    }
    .text-orange-700 {
        color: #c05621;
    }
    .text-orange-800 {
        color: #9c4221;
    }
    .text-orange-900 {
        color: #7b341e;
    }
    @variants hover, focus {
        .bg-orange-100 {
            background-color: #fffaf0;
        }
        .bg-orange-200 {
            background-color: #feebc8;
        }
        .bg-orange-300 {
            background-color: #fbd38d;
        }
        .bg-orange-400 {
            background-color: #f6ad55;
        }
        .bg-orange-500 {
            background-color: #ed8936;
        }
        .bg-orange-600 {
            background-color: #dd6b20;
        }
        .bg-orange-700 {
            background-color: #c05621;
        }
        .bg-orange-800 {
            background-color: #9c4221;
        }
        .bg-orange-900 {
            background-color: #7b341e;
        }
    }
    .h-72 {
        height: 18rem;
    }
    .h-80 {
        height: 20rem;
    }
    .h-88 {
        height: 22rem;
    }
    .h-96 {
        height: 24rem;
    }
}
